@{
    Page.Title = "Welcome to Cafeen's inventory";   
}
        <p>
          @if(WebSecurity.IsAuthenticated){
            @:<p>Welcome, @WebSecurity.CurrentUserName</p>
            @:<p><a href="@Href("~/Logout")">Log out</a></p>
          }
          else{
            @:<a href="@Href("~/Login")">Log in</a> |
            @:<a href="@Href("~/Register")">Register</a>
          }
        </p>



