@{
    Page.title = "Add Category";
    var Category = "";
    double Price = 0.0;

        <!--Opens the database and inserts the data from above-->
    var db = Database.Open("Cafeen");
        <!--Collect the Category from the Database-->
    var CategoryData = db.Query("SELECT ID, Category FROM Category");
    var PriceData = db.Query("SELECT ID, Price FROM Category");

    if(IsPost){
        Category = Request.Form["Category"];
        Price = Convert.ToDouble(Request.Form["Price"]);
        Funcs.AddCategory(Category, Price);    
        <!--Makes sure no SQL injection attack occurs, by redirecting to product the page after a product is added-->
        Response.Redirect("~/Members/Products.cshtml");
        }
}
<h2>Add a category</h2>
  <form method="post">
    <fieldset>
        <legend>Add a new category to the database</legend>
   
      <p><label for="Category">Category name:</label>
         <input type="text" name="Category" value="@Request.Form["Category"]" />
      </p>

      <p><label for="Price">Price:</label>
         <input type="number" name="Price" value="@Request.Form["Price"]" />
      </p>

      <p><input type="submit" name="buttonSubmit" value="Add Category" /></p>
    </fieldset>
  </form>
    <p>
        <a href="~/Members/Products.cshtml">Return to product listings</a>
    </p>


<script>
    $(document).ready(function () {
        $('.CategoryDelete').hide()
        $('#CheckboxCategory').change(function () {
            if (!this.checked)
                $('.CategoryDelete').hide();
            else
                $('.CategoryDelete').show();
                
        });
    });
</script>

  <form ID="CategoryDeleteForm" method="post">
    <h2>Delete a category <input type="checkbox" name="CheckboxCategory" ID="CheckboxCategory"></h2>
    <fieldset class="CategoryDelete" id="CategoryDelete">
        <legend>Delete a category from the database</legend>

            <label for="Category">Category:</label>
                <form name="FormCategory" method="post">
                    <select name="ListCategory">
            @foreach(var row in CategoryData)
            {
                <option value="@row.Category">@row.Category</option>
            }
   </select>
</form> 

      <p><input type="submit" name="buttonSubmit" value="Delete Category" /></p>

    </fieldset>
  </form>
