 
@{
    Page.title = "Count"; 

    var db = Database.Open("Cafeen") ;
    var selectCommand = "SELECT * FROM Products";
    var searchTerm = "";
    var CountType = "";
    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "Category");
    var CategoryData = db.Query("SELECT DISTINCT Category FROM Products");
    if( Request["CountOption"] != null){
        CountType = Request["CountOption"];
    }
    
    if(IsPost){
        db.Execute("UPDATE Products SET CountType=@0", CountType);
        Funcs.AddLogData(); //Hvis siden genfriskes vha. af submit, da tilføjes data'en fra Products tabellen til Logs tabellen.
        Response.Redirect("~/Members/Products.cshtml");
    }

}
<h2>Inventory List</h2>
<h3>Date: @DateTime.Now</h3>
        <!--Adds the coloumns that shows the database, + the edit link to update the database-->

<form method="post" action="">
<p><label>Type of inventory count</label> </p>
<select name="CountOption">
    <option value=""></option>
    <option value="Opening">Opening</option>
    <option value="Closing">Closing</option>
    <option value="SpecialEventOpening">Special Event Opening</option>
    <option value="SpecialEventClosing">Special Event Closing</option>
</select>
    <div>
        @grid.GetHtml(
            tableStyle: "grid",
            headerStyle: "head",
            alternatingRowStyle: "alt",
            columns: grid.Columns(
                grid.Column("ProductName"),
                grid.Column("Category"),
                grid.Column("Stock"),
                grid.Column(format: @<a href="~/Members/UpdateStock?id=@item.ID">Edit</a>)
            )
        )
    </div>
    <input type="Submit" value="Save Count" />

</form>




 
