 
@{
    Page.title = "Inventory Count"; 

    var db = Database.Open("Cafeen") ;
    var selectCommand = "SELECT * FROM Products";
    var searchTerm = "";
    var CountType = "";
    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "Category", rowsPerPage:999);
    var CategoryData = db.Query("SELECT DISTINCT Category FROM Products");
    
    if( Request["CountOption"] != null)
        {
        CountType = Request["CountOption"];
        }
    
    if(IsPost)
        {
        db.Execute("UPDATE Products SET CountType=@0", CountType);
        
        <!--Creates a log of the inventory list to history databasen-->
        Funcs.AddLogData();
        Response.Redirect("~/Members/Products.cshtml");
        }

}


<h2>Inventory List</h2>
<h3>Date: @DateTime.Now</h3>

<!--Creat a tabel with all the products in the inventory-->
<form method="post" action="">
    <div>
        @grid.GetHtml(
            tableStyle: "grid",
            headerStyle: "head",
            alternatingRowStyle: "alt",
            columns: grid.Columns(
                grid.Column("ProductName"),
                grid.Column("Category"),
                grid.Column("Stock"),
                grid.Column(format: @<a href="~/Members/UpdateStock?id=@item.ID">Edit</a>)
            )
        )
    </div>

<!--Option to select the different type of inventory counts you can register-->
<p>
    <label>Type of inventory count</label>
</p>
    <select name="CountOption">
        <option value=""></option>
        <option value="Opening">Opening</option>
        <option value="Closing">Closing</option>
        <option value="SpecialEventOpening">Special Event Opening</option>
        <option value="SpecialEventClosing">Special Event Closing</option>
    </select>

<input type="Submit" value="Save Count" />

</form>




 
